.barlow-regular {
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	font-style: normal;
}

:root {
	--tufts-blue: #3c91e6;
	--raisin-black: #342e37;
	--yellow-green: #a2d729;
	--baby-powder: #fafffd;
	--coral: #fa824c;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	background-color: var(--raisin-black);
	color: var(--baby-powder);
	display: flex;
	font-family: 'Barlow', sans-serif;
	height: 100%;
}

section {
	border: 1px solid var(--coral);
}

section.left {
	flex: 1;
}

section.right {
	flex: 2;
}

.left {
	position: relative;
}

.bg-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../assets/back.jpg');
	background-size: cover;
	z-index: -1;
}

.logo {
	font-size: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 30px 0;
	margin-top: 280px;
}

.logo-img {
	width: 80px;
	margin-right: 10px;
}
